<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<div class="container">
<h1>List of the posts</h1>
  <hr>
  <% @posts.each do |post| %>
    <p><h2><%= post.title.capitalize %></h2></p>
    <p><%= post.body %></p>
    <p><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <hr>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>


</div>
</body>